@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima\ Nova\ Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima\ Nova\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima\ Nova\ Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima\ Nova\ Extrabold.otf.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Proxima Nova", sans-serif;
}

@layer components {
  .nav-link {
    @apply transition-colors duration-300 hover:text-relianceLightBlue;
  }

  .primary-btn {
    @apply rounded-md border-b-2 border-b-blue-500 bg-relianceLightBlue px-6 py-2.5 capitalize text-white ring-inset drop-shadow-xl transition-colors duration-300 ease-in-out hover:border-b-black hover:bg-relianceDarkBlue;
  }

  .inner-2-div {
    @apply basis-full space-y-4 rounded-xl border bg-cream drop-shadow-sm lg:basis-1/2;
  }

  .inner-3-div {
    @apply w-full rounded-xl border bg-cream drop-shadow-sm lg:w-1/3;
  }

  .inner {
    @apply flex w-full flex-wrap justify-center gap-3 lg:flex-nowrap;
  }

  .image-container {
    @apply relative flex items-center justify-center overflow-hidden;
  }

  .span-no {
    @apply inline-block h-8 w-8 rounded-full bg-relianceLightBlue text-center leading-8 text-white shadow-inner ring ring-[#33B1F74D] ring-offset-1;
  }

  .inner-4-div {
    @apply flex items-center justify-normal gap-x-5 rounded-xl border bg-white p-6 drop-shadow-sm lg:items-start lg:justify-between;
  }

  .inner-4-div-heading {
    @apply font-semibold;
  }

  .inner-4-div-leading-text {
    @apply text-relianceGrey;
  }

  .fadeIn {
    @apply origin-bottom;
  }

  .testimonial-container {
    @apply flex flex-col items-center gap-y-3 rounded-md;
  }

  .testimonial {
    @apply w-full rounded-xl bg-relianceLighterBlue p-1;
  }

  .testimonial-inner-1 {
    @apply relative rounded-lg bg-secondaryBlue px-6 py-6;
  }

  .testimonial-inner-2 {
    @apply flex gap-x-3 px-6 py-3.5;
  }

  .testimonial-details {
    @apply flex flex-col gap-y-2;
  }

  .testimonial-text {
    @apply font-light text-[#D7DCE0];
  }

  .testimonial-image-container {
    @apply h-full w-12 overflow-hidden rounded-full border-white;
  }

  .testimonial-image {
    @apply aspect-square object-cover saturate-50;
  }

  .testimonial-header {
    @apply font-semibold text-white;
  }

  .triangle-pointer {
    @apply absolute left-10 top-full h-2 w-4 border-b-8 border-secondaryBlue bg-secondaryBlue;
  }

  .details-style {
    @apply rounded-xl border bg-white px-4 py-3;
  }

  .summary-style {
    @apply flex cursor-pointer list-none items-center justify-between gap-x-3 font-medium text-relianceDarkBlue;
  }

  .details-open-style {
    @apply text-2xl group-open:hidden;
  }

  .details-close-style {
    @apply hidden text-2xl group-open:block;
  }

  .details-summary-info {
    @apply text-sm text-relianceGrey;
  }

  .footer-header {
    @apply font-bold text-relianceDarkBlue;
  }

  .footer-link {
    @apply text-relianceGrey;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.triangle {
  clip-path: polygon(100% 0, 50% 100%, 0 0);
}
